.video-input {
	margin: 1% auto;
	text-align: center;
}

.video-container {
	margin: 1% auto;	
}

.yt-player {
	margin: 2% auto;
	text-align: center;
}

.button-submit {
		margin-left: 1%;
		margin-bottom: 1%;
}

#webcam-video {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	width: 15%;
	height: 15%;
	position: fixed;
	bottom: 2%;
	right: 0;
	/* transform: translate(-50%, -50%); */
  }
